@import "tailwindcss";

@theme {
  --color-primary: #17A59E;
  --color-secondary: #16A99F;
  --color-background-light: #f8f9fa;
  --color-background-dark: #0f1c1a;
  --font-display: var(--font-inter), sans-serif;

  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;

  --color-primary-100: #A8E6E2;
}

/* Permitir rolagem suave para as âncoras */
html {
  scroll-behavior: smooth;
}